header{
    display: flex;
    justify-content: space-between;
    align-items: center; 
   
  }
  
  .logo{
    padding: 20px 40px;
    max-width: 100%;
    height: auto; 
  }
  
  @media (max-width: 768px) {
    .logo {
      width: 150px; /* 작은 화면일 때 로고 이미지 크기 */
    }
  }
  
  @media (max-width: 480px) {
    .logo {
      width: 100px; /* 더 작은 화면일 때 로고 이미지 크기 */
    }
  }
  
  /*
  ul{
    list-style:none;
    display: flex;
  }
  */
  
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main_image {
    display: flex;
    justify-content: center;
}

  @media (max-width: 768px) {
    .main_image img {
        /* 적절한 크기로 조절 */
        max-width: 50%; /* 예시로 80% 설정 */
    }
  }

  .memeber_main_image{
    max-width: 100%; /* 이미지가 부모 요소에 맞게 조절되도록 최대 너비 지정 */
    height: auto;
    display: block; /* 이미지를 블록 요소로 설정하여 가운데 정렬을 용이하게 함 */
    margin: 0 auto;
  }


  
  
  .num_member{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4D4D4D;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 100px;
  }
  
  @media (max-width: 768px) {
    .num_member{
      font-size: 24px;
    
    }
  }
  
  .profiles{
    display: flex;
    flex-flow : row wrap;
    align-items: center;
    padding:5% 10%;
    justify-content: center;
  }
  
  
  
  
  li{
    color: #747474;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 35px 26px;
  }
  
  /* 미디어 쿼리를 사용하여 화면 크기에 따른 ul 크기 조정 */
  @media (max-width: 768px) {
    li {
      font-size: 20px; /* 작은 화면일 때 ul 폰트 크기 조정 */
      padding: 35px 5px;
    
    }
  }
  
  @media (max-width: 480px) {
    li {
      font-size: 12px; /* 더 작은 화면일 때 ul 폰트 크기 조정 */
    }
  }
  
  li:last-child {
    padding-right: 52px; /* 마지막 li 요소에만 오른쪽 패딩 추가 */
  }
  
  .profileCard{ 
    position : relative;
    width: 340px;
    height: 358px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin:0.5%
  }
  
  /* 미디어 쿼리를 사용하여 화면 크기에 따른 ul 크기 조정 */
  @media (max-width: 768px) {
    .profileCard {
      width: 150px;
      height: 160px;
    
    }
  }
  
  .profile_image{
    position:absolute;
    width: 40%;
    height: 40%;
    border-radius: 100%;
    top:10%;
    left:10%;
  }
  
  .github_icon{
    cursor: pointer;
    position: absolute;
    width: 15%;
    height: 15%;
    top: 5%;
    right:5%;
  }
  
  /* 기본 스타일 */
.duty {
  color: #4D4D4D;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 2px solid gray;
  border-radius: 10%;
  /* 기본 스타일 등 추가 */
}

/* 미디어 쿼리를 활용하여 작은 화면 크기에 대한 스타일 정의 */
@media (max-width: 768px) {
  .duty {
      font-size: 9px;
      /* 다른 작은 화면에 대한 스타일 수정 */
  }
}

/* 포지션을 세로로 나열하기 위한 스타일 */
.dutyContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position:relative;
  left:30%;
  
}

/* Position 요소들을 감싸는 .dutyContainer의 추가적인 스타일 */
.dutyContainer {
  padding-top: 24%; /* 간격을 조정할 수 있습니다. */
  /* 외곽선을 추가할 수 있습니다. */
  margin-bottom: 20px; /* 요소 사이의 간격을 조정할 수 있습니다. */
}

  .name{
    position: absolute;
    top:60%;
    left:12%;
    color: #4D4D4D;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  @media (max-width: 768px) {
    .name{
      font-size: 12px;
    
    }
  }
  
  .position{
    position:absolute;
    top:64%;
    left:33%;
    color: #747474;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  @media (max-width: 768px) {
    .position{
      font-size: 6px;
    
    }
  }
  
  .ment{
    position:absolute;
    top:70%;
    left:42px;
    width: 72%;
    height: 15%;
    flex-shrink: 0;
    color: #747474;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  @media (max-width: 768px) {
    .ment{
      font-size: 10px;
    }
  }
  
  .mailicon{
    position:absolute;
    top:90%;
    left:10%;
    width: 5%;
    height: auto;
  }
  
  
  
  .mail{
    position:absolute;
    top:90%;
    left:16%;
    width: 42%;
    height: 5%;
    flex-shrink: 0;
    color: #747474;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  @media (max-width: 768px) {
    .mail{
      font-size: 7px;
    
    }
  }
  
  