@import "reset.module.css";

/* Activities Page */
.body{
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
}


.actBackground{
    background: linear-gradient(90deg, #FCBC05 45%, #119D5A 80%);
    padding: 80px;
    text-align: center;
    width: auto;
    height: 500px;
    margin-top: 70px;
    color: #595959;
}
/* -webkit-text-stroke-color: #119D5A;
    -webkit-text-stroke-width: 2px; 
    
    text-shadow:
        -2px -2px 5px whitesmoke,
        2px -2px 5px whitesmoke,
        -2px 2px 5px whitesmoke,
        2px 2px 5px whitesmoke;
*/
.act{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 120px;
    font-weight: 1000;
    -webkit-text-stroke-color: #fdfdfd;
    -webkit-text-stroke-width: 4px;
}

.nav1{
    padding-top: 70px;
    padding-bottom: 70px;
}

.nav__linkS1 {
    color: white;
    text-decoration: none;
    font-size: 50px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin-right: 120px;

}
.nav__linkS2 {
    color: white;
    text-decoration: none;
    font-size: 50px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin-left: 120px;

}
.nav__linkE {
    color:white;
    text-decoration: none;
    color: white;
    text-decoration: none;
    font-size: 50px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 768px) {
    .actBackground {
      padding: 40px;
      height: 60vh;
    }
  
    .act {
      font-size: 80px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  
    .nav1 {
      padding: 20px;
    }
  
    .nav__linkS1,
    .nav__linkS2,
    .nav__linkE {
      margin: 20px;
      font-size: 30px;
    }
  }
@media screen and (max-width: 426px) {
    .actBackground{
        height: 45vh;
    }
    .act{
        font-size: 15vw;
        margin-bottom: 0;
        -webkit-text-stroke-color: white;
        -webkit-text-stroke-width: 2px;
    }
    .nav__link{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .nav__linkS1,
    .nav__linkS2,
    .nav__linkE {
      font-size: 5vw;
    }
    
}

/* Seminars Page */

.screen_header {
    display: flex;
    margin-top: 100px;
    align-items: center;
}

.screen_header__title{
    font-size: 40px;
    font-weight: 700;
    color: rgb(33, 33, 33);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin-left: 280px;
}

.screen_header__underline {
    width: 500px;
    height: 10px;
    margin-left: 0px;
    margin-top: 10px;
    background-color: #119D5A;
    
}
.seminar_p{
    margin-top: 30px;
    margin-left: 15vw;
    line-height: 2.0;
    font-weight: bolder;
    color: #595959;
}

.container{
    margin-left: 200px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}
.container__box{
    border: 6px solid #119D5A;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    width: 50vw;
    height: 16vh;
    text-align: center;  
}
.container .container__box:nth-child(2) {
    margin-left: 300px;
}
.box__title{
    font-weight: bold;
    color: #119D5A;
    font-size: 30px;
    margin-bottom: 10px;
}
.box__explain{
    font-weight: bold;
    font-size: 20px;
    color: #595959;
}

.seminar_previous {
    background-color: #119D5A;
    width: 13vw;
    height: 50px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right : auto;
    margin-top:40px;
}
.seminar_previous__text{
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}
@media screen and (max-width: 1111px) {
    .screen_header__title {
      margin: auto;
      font-size: 4vw;
    }
    .screen_header__underline {
        width: auto;
    }
    .seminar_p {
        font-size: 3vw;
    }
  
    .container {
      margin-left: 20px;
      display: flex;
      flex-direction: column;
    }
  
    .container__box {
      width: 80vw;
      height: 15vh;
      margin-left: 0;
      border: 1px solid #119D5A;

    }
  
    .container .container__box:nth-child(2) {
      margin-left: 0;
    }
    .box__title {
        font-size: 3vw;
    }
    .box__explain {
        font-size: 2vw;
    }
    .seminar_previous{
        height: 8vh;
        width: 13vw;
    }
    .seminar_previous__text{
        font-size: 1.8vw;
    }
  }

  @media screen and (max-width: 720px) {
    .container__box{
        height: 10vh;
    }
    .seminar_previous{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 5vh;
        width: 30vw;
        margin-top: 2vh;
    }
    .seminar_previous__text{
        font-size: 2.5vh;
    }
  }
  @media screen and (max-width: 500px) {
    .box__title{
        font-size: 4.5vw;
    }
    .box__explain{
        font-size: 3vw;
    }
    .container .container__box:nth-child(2) {
        height: 18vh;
      }
    .container .container__box:nth-child(3) {
        height: 15vh;
      }
    
  }
  /* Session Page */
.session_header {
    margin-top: 20px;
    height: 250px;
}
.session_header__text {
    display: flex;
    flex-direction: column;
    padding-left: 250px;
    padding-top: 30px;
}
.session_header__text_bold {
    margin-left: 8px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #595959;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.session_header__text_thin {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    font-weight: bold;
    color: #777575;
}
.session_circle{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.session_text{
    width: 360px;
    height: 360px;
    border-radius: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    font-weight: 1000;
}
.session_text:nth-child(1){
    background-color: #addbc4;
}
.session_text:nth-child(2){
    background-color: #52b987;
}
.session_text:nth-child(3){
    background-color: #119D5A;
}
.session_text__a{
    -webkit-text-stroke-color: #0c683b;
    -webkit-text-stroke-width: 2px;
    text-decoration: none;
    color: white;
}
.session_repo {
    margin-left: 250px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.session_repo__icon{
    font-size: 20px;
    font-weight: 1000;
    color: #595959;
}
.session_repo__text{
    font-size: 20px;
    font-weight: 800;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    color: #595959;
}
.session_year {
    width: 100%;
    height: 30px;
    padding-top: 20px;
    background-color: #62BE92;
}
.session_year__text{
    color: white;
    padding-left: 50px;
    text-decoration: none;
    font-weight: 600;
}
@media screen and (max-width: 1111px) {
    .session_header__text{
        display: flex;
        justify-content: center;
        padding-left: 0;
        margin-left: 10vw;
    }
    .session_circle{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .session_text{ 
        width: 50vw;
        height: 30vh;
        margin-bottom: 10px;
        border-radius: 10vh;
        font-size: 7vw;
    }
    .session_repo{
        margin-left: 10vw;
    }
}
@media screen and (max-width:440px) {
    .session_text{
        height: 15vh;
    }
}

.expect_text {
    margin-top: 50px;
    margin-left: 150px;
    padding: 20px;
}
.expect_text__bold {
    margin-bottom: 25px;
    color: white;
    font-weight: bolder;
    text-shadow:
    -1px -1px 3px #119D5A,
    1px -1px 3px #119D5A,
    -1px 1px 3px #119D5A,
    1px 1px 3px #119D5A;
}
.expect_text__thin {
    margin-bottom: 30px;
    font-weight: bold;
    color: #595959;
}
@media screen and (max-width: 768px) {
    .expect_text{
        margin-left: 0;
    }
}