@import "reset.module.css";

.timeline{
    color: #4285F5;
    font-size: 60px;
    font-weight: bolder;
    text-decoration: none;
    margin-left: 20vh;
    margin-top: 10vh;
    margin-bottom: 70px;
}
.commit{
  color: rgb(100, 100, 100);
  display: flex;
  margin-left: 20vh;
}
.commit_link{
  text-decoration: none;
  color: #4285F5;
}
.commit_link:hover{
  color: #184fac;
}

@media screen and (max-width: 768px) {
    .timeline {
      font-size: 40px;
      display: flex;
      align-items: center;
    }
    .commit_list{
      padding: 1.5vh;
    }
    .commit {
      display: flex;
      margin-left: 0;
    }
  }